@import "../../../../../styles/abstracts/variables.scss";
.correspondence {
  padding: 15px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  &:hover {
    background-color: $color_hover;
    cursor: pointer;
  }
  & p {
    margin-bottom: 0;
    font-weight: 500;
  }
  & i {
    font-size: 26px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
}
