// @import "../../../../../styles/abstracts/variables.scss";
.completed-question {
  margin-bottom: 45px;

  &__text {
    font-weight: 500;
  }
  &__answer-container {
    display: flex;
  }
  &__answer-selection {
    margin-right: 5px;
  }
}
.survey-builder {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__contact-info {
    margin-bottom: 35px;
    & p {
      margin-bottom: 0;
    }
  }
  &__logo {
    height: 50px;
  }
}
