@import "../../../../../styles/abstracts/variables.scss";
.survey {
  padding: 15px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: $color_hover;
    cursor: pointer;
  }

  & i {
    font-size: 26px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  & p {
    margin-top: 3px;
  }

  &__completed {
    border-color: rgba(27, 170, 87, 0.2);
    font-weight: 500;
  }

  &--unavailable {
    pointer-events: none;
    opacity: 0.7;
  }
}
