.follow-up-five {
  margin-bottom: 20px;
  &__followup {
    display: flex;
    margin-left: 10px;

    & p {
      margin-bottom: 10px;
    }
  }
  &__followup5 {
    margin-left: 30px;
  }

  &__strong {
    font-weight: 800;
  }
}
