.case-activity {
  &__table {
    width: 101%;
    margin-top: -10px;
    & thead {
      & td {
        padding: 10px;
        font-weight: 500;
      }
    }

    & tbody {
      & td {
        padding: 10px;
      }
    }
  }
}
