@import "../../../../../styles/abstracts/mixins.scss";
@import "../../../../../styles/abstracts/variables.scss";
.system-activity {
  padding: 15px;
  border: 1px solid #eee;
  margin-bottom: 5px;
  margin-right: 10px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & p {
      margin-bottom: 0 !important;
    }

    & p:first-of-type {
      font-weight: 500;
      flex-direction: column;
    }

    @include respond(tab-land) {
      flex-direction: column;
    }
  }

  &__icon {
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__description {
    @include respond(tab-land) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__info {
    width: 18%;

    & div {
      margin-right: 10px;
    }

    @include respond(tab-land) {
      width: 100%;
      & div {
        margin-right: 10px;
      }
    }
  }

  &--pending {
    border: 1px solid rgba(255, 196, 0, 0.3);

    &:hover {
      background-color: $color_hover;
      cursor: pointer;
    }
  }

  &--success {
    border: 1px solid rgba(27, 170, 87, 0.2);
  }

  &--error {
    border: 1px solid rgba(255, 0, 0, 0.2);
    &:hover {
      background-color: $color_hover;
      cursor: pointer;
    }
  }
}
