@import "../../../styles/abstracts/variables.scss";
.pageaction {
  height: 30px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #eee;
    transform: scaleX(0);
    transition: transform 0.3s, height 0.3s cubic-bezier(1, 0, 0, 1) 0.1s,
      background-color 0.3s;
  }

  &:hover::before {
    width: 100%;
    transform: scaleX(1);
    height: 100%;
  }

  &:hover p {
    z-index: 1;
  }
}

.pageaction-disabled {
  height: 30px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  position: relative;
  color: $color_light_text;
}
