@import "../../../styles/abstracts/variables.scss";

.message {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  &__error {
    color: $color_danger;
  }

  &__success {
    color: $color_success;
  }
}
