@import "../../../../../../styles/abstracts/variables.scss";
@import "../../../../../../styles/abstracts/mixins.scss";

.contact-modal {
  @include modal;

  & .ui.selection.dropdown {
    min-width: 120px;
    max-width: 120px;
    min-height: 37px !important;
    padding: 9px;
    padding-left: 15px;
  }

  &__title {
    margin: 0 0 10px 0;
    font-weight: 300;
  }

  &__body {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 15px 0;
    word-break: break-word;
    padding-left: 10px;
  }
}
