.knockout-modal {
  position: relative;
  background: #fff;
  border: #9999 1px solid;
  display: block;
  padding: 20px;
  overflow: auto;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-40%, -50%);

  width: 40%;
  z-index: 2 !important;

  -webkit-box-shadow: 2px 3px 46px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 46px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 46px -13px rgba(0, 0, 0, 0.75);

  &__title {
    margin: 0 0 10px 0;
    font-weight: 300;
  }

  &__text {
    font-weight: 700;
  }

  &__body {
    font-weight: 300;
    padding: 0 10px;
  }

  &__knockout {
    margin-bottom: 20px;
  }
  &__question {
    font-weight: 500;
  }
}
