@import "../../../../../../styles/abstracts/variables.scss";
@import "../../../../../../styles/abstracts/mixins.scss";
.casenote {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px;
  position: relative;
  margin-bottom: 5px;
  border: 1px solid #eee;

  &__note {
    width: 80%;
  }

  &__note-text {
    border: none !important;
    overflow: visible !important;
    resize: none !important;
    margin-top: -5px !important;
    padding: 10px 5px !important;
  }

  &__created {
    margin-top: 5px;
    display: flex;
    flex-direction: column;

    & p {
      margin-left: 10px;
      font-size: 12px !important;
      margin-bottom: 0px;
    }
  }

  &__close {
    position: absolute;
    height: 17px;
    width: 17px;
    background-color: $color_danger;
    right: -5px;
    top: -5px;
    color: $color_white;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    display: none;
    & p {
      margin-top: -1px;
    }
  }

  &:hover &__close {
    display: flex;
  }
}
