@import "../../../styles/abstracts/mixins.scss";

.sform-group {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-bottom: 25px;

  & label:first-of-type {
    font-weight: 500 !important;
    margin-right: 1rem;
    width: 100px;
  }
}

.sform-group-inline {
  flex-direction: row;
}
