@import "../../../../../../styles/abstracts/variables.scss";

.callback-row {
  & td:last-of-type {
    position: relative;
    & p:first-of-type {
      margin-bottom: 0;
    }
  }
  &__close {
    position: absolute;
    height: 17px;
    width: 17px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    display: none;
    margin-left: 15px;
    margin-top: -35px;
    background-color: $color_danger;

    & p {
      margin-bottom: 2px;
      margin-left: 1px;
      color: $color_white;
    }
  }

  &:hover &__close {
    display: flex;
  }
}
